@import "../node_modules/reset.css/reset.css";
@import "style/footer.scss";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body {
  position: relative;
  background: url("img/dotally.png");
  .welcome {
    font-family: 'Permanent Marker', sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .button {
    margin: 0 auto;
    font-family: 'Permanent Marker', sans-serif;
    font-style: italic;
    font-size: 17px;
    font-weight: bold;
    width: 150px;
    height: 30px;
    //text-decoration: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 20px;
    display: block;
    background: linear-gradient(to top, rgba(76,213,26,0.39), transparent);
    border-radius: 20px;
    border: none;
    //text-shadow:1px 1px 0 rgb(68,157,165),2px 2px 0 rgb(51,118,124),3px 3px 0 rgb(34,78,82),4px 4px 0 rgb(17,39,41),5px 5px 1px rgba(0,0,0,0.26);
    box-shadow:3px 1px 13px 14px rgba(76,213,26,0.39);
    transition: 1s;
    &:hover {
      transition: 1s;
      background: linear-gradient(to top, rgba(76, 213, 26, 0.65), transparent);
      box-shadow:3px 1px 32px 14px rgba(205,225,198,0.39);
    }
    &:active,&:focus {
      outline: none;
    }
  }

  .title {
    color: rgb(69, 250, 110);
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    text-transform: uppercase;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
    transition: 1s;
    &:hover {
      text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
      0px -5px 35px rgba(255,255,255,0.3),
      0px -10px 35px rgba(255,255,255,0.3),
      0px 0px 24px rgba(255,255,255,0.3);
      color: #7fad68;
    }
    @media screen and (max-width: 740px) {
    font-size: 30px;
    }
  }

}
