@import "../node_modules/reset.css/reset.css";
@import "style/footer.scss";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body {
  position: relative;
  background: url("img/dotally.png");
  

  .title {
    color: rgb(250, 79, 55);
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    text-transform: uppercase;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
    transition: 1s;
    &:hover {
      text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
      0px -5px 35px rgba(255,255,255,0.3),
      0px -10px 35px rgba(255,255,255,0.3),
      0px 0px 24px rgba(255,255,255,0.3);
      color: #7fad68;
    }
    @media screen and (max-width: 740px) {
    font-size: 30px;
    }
  }
}
